## Imports

In [34]:
# Operational Packages
import numpy as np
import pandas as pd
from pathlib import Path
import sys
import os


# Directories
nb_dir = Path.cwd()
REPO_ROOT = nb_dir.parent
data_dir = REPO_ROOT / 'data/'
clean_dir = data_dir / 'clean/'
if str(REPO_ROOT) not in sys.path:
    sys.path.insert(0, str(REPO_ROOT))

## Load Data

In [3]:
data_path = REPO_ROOT/'data/raw/NBAC_summarystats_1972to2024_20250506.xlsx'
NBCA = pd.read_excel(data_path, sheet_name=None)

In [22]:
print(NBCA.keys())

NBCA_admin = NBCA['sumstats_admin']
NBCA_meta = NBCA['metadata']
NBCA_admin2 = NBCA['sumstats_admin2']
NBCA_parks = NBCA['sumstats_natpark']
NBCA_years = NBCA['NBAC_1972_2024_20250506']

dict_keys(['sumstats_admin', 'sumstats_natpark', 'sumstats_admin2', 'NBAC_1972_2024_20250506', 'metadata'])

## Clean Data

### Metadata

In [5]:
NBCA_meta = NBCA_meta['National Burned Area Composite - Metadata']

NBCA_meta

0      Source: https://cwfis.cfs.nrcan.gc.ca/datamart...
1      View complete metadata - https://cwfis.cfs.nrc...
2                                                    NaN
3                                                Summary
4      The NBAC is a national, geospatial burned area...
                             ...
155    GH-Gwaii Haanas National Park Reserve and Haid...
156    PRESCRIBED identifies a prescribed fire as rep...
157       VERSION identifies the annual dataset version.
158    GID is a Global Identifier that concatenates t...
159    useful for selecting unique fire records merge...
Name: National Burned Area Composite - Metadata, Length: 160, dtype: object

#### Meta Summary

In [6]:
meta_summary_list = []
for row in NBCA_meta[4:11]:
    meta_summary_list.append(row)
meta_summary = "".join(meta_summary_list)

meta_summary

"The NBAC is a national, geospatial burned area product compiled annually since 1972 forannual estimates of carbon emissions. A rule-based decision process is used to select the bestburned area perimeters from a number of available data providers. // La CNSB est un outil decartographie nationale et géospatiale des superficies brûlées compilé chaque année depuis1972 afin d'en calculer annuellement les émissions de carbone. Un processus décisionnel axésur les règles permet de sélectionner les meilleures fourniseurs de données disponibles pourreprésenter une situation de feu donnée."

#### Meta Description

In [7]:
meta_description = " ".join(NBCA_meta.iloc[np.r_[13:67]].dropna().astype(str))
meta_description

"The National Burned Area Composite (NBAC) is a product created as a component of the Fire Monitoring, Accounting and Reporting System (FireMARS), jointly developed by the Canada Centre for Mapping and Earth Observation (formerly the Canada Centre for Remote Sensing) of Natural Resources Canadaand the Canadian Forest Service. FireMARS was initially developed with funding support from the Canadian Space Agency Government Related Initiatives Program (http://www4.asc-csa.gc.ca/auot-eoau/eng/grip/about.aspx) through a collaboration of those in fire research (http://www.nrcan.gc.ca/forests/fire/13143), forest carbon accounting (http://www.nrcan.gc.ca/forests/climate-change/13087) and remote sensing. NBAC is a national product compiled annually since 1972 by the FireMARS system which tracks forest fires for annual estimates of carbon emissions and to help identify National Forest Inventory plots that may have been disturbed by fire.See the FireMARS website at http://www.nrcan.gc.ca/forests/fire/13159 and carbon accounting - disturbance monitoring website (http://www.nrcan.gc.ca/forests/climate-change/13109) for additional information. Data from two types of providers is used to generate NBAC: 1) Natural Resources Canada, and 2) Provincial, Territorial, and Parks Canada agencies. A rule-based decision process is used to select the best data source for each fire event based on factors such as how well the burn polygon follows the shape of the fire as observed on postburn satellite imagery, the data source itself, and what methods were used to delineate the burn. La Composite nationale des superficies brûlées (CNSB) fait partie du système FireMARS (Fire Monitoring, Accounting and Reporting System) mis au point par le Centre canadien de cartographie et d’observation de la Terre (anciennement le Centre canadien de télédétection)et le Service canadien des forêts. Le système FireMARS a d'abord été rendu possible grâce à un soutien financier du Programme d'initiatives gouvernementales en observation de la Terre (IGOT) de l'Agence spatiale canadienne (http://www4.asc-csa.gc.ca/auoteoau/ fra/igot//About%20Grip.aspx) en collaboration avec les initiatives de recherche sur les feux (http://www.rncan.gc.ca/forets/feux/13144), de comptabilisation du carbone forestier (http://www.rncan.gc.ca/forets/changements-climatiques/13088) et de télédétection. CNSB est un produit national compilé annuellement depuis 1972par le système FireMARS (Fire Monitoring, Accounting and Reporting System), qui fait le suivi des incendies de forêt afin d'estimer les émissions annuelles de carbone et de déterminer les parcelles de l'Inventaire forestier national (IFN) qui peuvent avoir été perturbées par les incendies.Pour obtenir plus de renseignements, consulter la page Web sur le système FireMARS (http://www.rncan.gc.ca/forets/feux/13160) et la comptabilisation du carbone forestier - surveillance des perturbations (http://www.rncan.gc.ca/forets/changementsclimatiques/ 13110). Pour générer la CNSB, on utilise des données provenant de deux types de sources : 1) Ressources naturelles Canada; 2) les organismes provinciaux et territoriaux et Parcs Canada. Un processus de décision basé sur des règles est utilisé dans la sélection desmeilleures sources de données pour chaque incendie, en fonction de divers facteurs : dans quelle mesure le polygone des surfaces brûlées correspond-elle à la forme de l'incendie observée sur l'imagerie satellitaire post-incendie, la source de données elle-même, ainsi que les méthodes qui ont été utilisées pour la délimitation de l'aire brûlée."

#### Meta Fields & Attributes

In [8]:
# 1. Take just the “fields” section of the metadata
meta_lines = (
    NBCA_meta.iloc[67:]      # start at row 67
    .dropna()                # drop blank lines
    .astype(str).str.strip() # make sure they're strings, strip spaces
)

# (optional) drop the header line if it exists
meta_lines = meta_lines[meta_lines != "Fields / Attributes"]

# 2. Split each line into first word + rest
split = meta_lines.str.split(n=1, expand=True)

# 3. Name the two resulting columns
split.columns = ["Field", "Attribute"]

meta_fields = split.reset_index(drop=True)

In [9]:
meta_fields

           Field                                          Attribute
0           YEAR                                   is the fire year
1        NFIREID  is a uniquely assigned ID to each fire event o...
2       specific  year. It is the common ID used to link a fire ...
3   territorial,     or national park boundary for a specific year.
4          BASRC  identifies the burned area product from a data...
..           ...                                                ...
87      GH-Gwaii  Haanas National Park Reserve and Haida Heritag...
88    PRESCRIBED  identifies a prescribed fire as reported by th...
89       VERSION             identifies the annual dataset version.
90           GID  is a Global Identifier that concatenates the f...
91        useful  for selecting unique fire records merged by year.

[92 rows x 2 columns]

In [10]:
def merge_meta_rows(df, main_idx, extra_idxs):
    parts = [str(df.loc[main_idx, "Attribute"]).strip()]
    for i in extra_idxs:
        field_i = str(df.loc[i, "Field"]).strip()
        attr_i  = str(df.loc[i, "Attribute"]).strip()
        parts.append(f"{field_i} {attr_i}")
    df.loc[main_idx, "Attribute"] = " ".join(parts)
    return df.drop(extra_idxs).reset_index(drop=True)

# Example: NFIREID + its two continuation lines
meta_fields = merge_meta_rows(meta_fields, main_idx=1, extra_idxs=[2, 3])
meta_fields = merge_meta_rows(meta_fields, main_idx=6, extra_idxs=[7])
meta_fields = merge_meta_rows(meta_fields, main_idx=8, extra_idxs=[9])
meta_fields = merge_meta_rows(meta_fields, main_idx=10, extra_idxs=[11,12,13])
meta_fields = merge_meta_rows(meta_fields, main_idx=11, extra_idxs=[12,13])
meta_fields = merge_meta_rows(meta_fields, main_idx=12, extra_idxs=[13])
meta_fields = merge_meta_rows(meta_fields, main_idx=15, extra_idxs=[16])
meta_fields = merge_meta_rows(meta_fields, main_idx=79, extra_idxs=[80])

In [ ]:
def split_field_dash(df, field_col="Field", attr_col="Attribute"):
    # 1. rows where the Field contains a dash
    mask = df[field_col].astype(str).str.contains("-", na=False)

    # 2. split on the first '-' into two parts
    split = df.loc[mask, field_col].astype(str).str.split("-", n=1, expand=True)
    split.columns = ["abbr", "name_part"]

    # 3. clean up pieces
    abbr = split["abbr"].str.strip()
    name_part = split["name_part"].fillna("").str.strip()   # text after '-'
    existing_attr = df.loc[mask, attr_col].fillna("").str.strip()

    # 4. combine name_part + existing_attr (add a space only if both non-empty)
    glue = np.where((name_part != "") & (existing_attr != ""), " ", "")
    combined_attr = (name_part + glue + existing_attr).str.strip()

    # 5. write back into the original dataframe
    df.loc[mask, field_col] = abbr
    df.loc[mask, attr_col] = combined_attr

    return df

meta_fields = split_field_dash(meta_fields)

In [25]:
meta_fields.iloc[25:30]

   Field             Attribute
25    ON               Ontario
26    PC          Parks Canada
27    PE  Prince Edward Island
28    QC               Quebec,
29    SK          Saskatchewan

#### Provincial/Territory Summary Statistics

In [20]:
# 1. Save the description from the first column name
admin_description = NBCA_admin.columns[0]

# 2. Drop the first row (all NaN / banner)
NBCA_summary_stats = NBCA_admin.iloc[1:].copy()

# 3. Use the next row as header
NBCA_summary_stats.columns = NBCA_summary_stats.iloc[0]

# 4. Drop that header row from the data and reset index
NBCA_summary_stats = NBCA_summary_stats.iloc[1:].reset_index(drop=True)

NBCA_summary_stats.attrs['description'] = admin_description

NBCA_summary_stats.head(5)

1,YEAR,AB,BC,MB,NB,NL,NS,NT,NU,ON,PC,PE,QC,SK,YT,CANADA
0,2024,719604.355673,911524.79932,233958.983969,7938.424448,60385.50932,46.177906,1647294.00149,42.072809,79874.038884,92589.440537,21.051528,208466.217566,760954.259178,181700.081212,4904399.41384
1,2023,1950086.59448,2209978.837971,142526.442937,2277.911368,18934.132477,21809.410837,3487336.802179,3784.6894,338450.972125,774388.558646,NaN,4266657.231382,1086507.599438,333095.330548,14635834.513788
2,2022,119898.638877,114453.97964,135861.741668,NaN,20082.396889,2845.138552,579870.789403,987.072408,3312.651189,34323.808935,NaN,28199.857015,224706.437495,194283.416626,1458825.928697
3,2021,56143.805131,785897.164377,1139281.668036,NaN,NaN,184.381283,154455.192913,247.075691,687831.085672,43060.129092,NaN,49363.933784,867993.573556,133945.834348,3918403.843883
4,2020,2830.611904,13761.809879,43146.398874,NaN,2720.240278,672.3788,18156.350975,49.16431,13185.115149,2280.475027,NaN,51483.340908,42739.985624,15939.710809,206965.582537

In [19]:
dataset_meta = {
    "name": "NBAC burned area by administrative area",
    "description": admin_description,
    "source": "https://cwfis.cfs.nrcan.gc.ca",  # example
    "units": "adjusted hectares",
}

In [35]:

# 1. Save the description (first non-NaN banner row)
parks_description = NBCA_parks.iloc[1, 0]   # "Sum of SUM_ADJ_HA"

# 2. Drop top two rows; row 2 becomes header
NBAC_parks_clean = NBCA_parks.iloc[2:].copy()

# set header from the first remaining row
NBAC_parks_clean.columns = NBAC_parks_clean.iloc[0]

# 3. Drop that header row from the data and reset index
NBAC_parks_clean = NBAC_parks_clean.iloc[1:-1].reset_index(drop=True)

# 4. Rename the first column from "Row Labels" to YEAR (they’re years)
NBAC_parks_clean = NBAC_parks_clean.rename(columns={"Row Labels": "YEAR"})

# (optional) convert YEAR to integer
NBAC_parks_clean["YEAR"] = NBAC_parks_clean["YEAR"].astype(int)

# 5. Attach the description as metadata (like alt text)
NBAC_parks_clean.attrs["description"] = parks_description

In [36]:
NBAC_parks_clean

2,YEAR,AB,BC,MB,NB,NL,NS,NT,NU,ON,PC,PE,QC,SK,YT,Grand Total
0,2024,719604.355673,911524.79932,233958.983969,7938.424448,60385.50932,46.177906,1647294.00149,42.072809,79874.038884,92589.440537,21.051528,208466.217566,760954.259178,181700.081212,4904399.41384
1,2023,1950086.59448,2209978.837971,142526.442937,2277.911368,18934.132477,21809.410837,3487336.802179,3784.6894,338450.972125,774388.558646,NaN,4266657.231382,1086507.599438,333095.330548,14635834.513788
2,2022,119898.638877,114453.97964,135861.741668,NaN,20082.396889,2845.138552,579870.789403,987.072408,3312.651189,34323.808935,NaN,28199.857015,224706.437495,194283.416626,1458825.928697
3,2021,56143.805131,785897.164377,1139281.668036,NaN,NaN,184.381283,154455.192913,247.075691,687831.085672,43060.129092,NaN,49363.933784,867993.573556,133945.834348,3918403.843883
4,2020,2830.611904,13761.809879,43146.398874,NaN,2720.240278,672.3788,18156.350975,49.16431,13185.115149,2280.475027,NaN,51483.340908,42739.985624,15939.710809,206965.582537
5,2019,711139.028585,20353.85822,71850.15939,NaN,379.29833,NaN,110103.87742,2296.489088,225155.388524,125191.826876,NaN,8922.125169,55443.066691,272855.490016,1603690.608309
6,2018,47794.571934,1045479.466827,210894.190262,70.485825,15.129373,257.677607,14167.361917,278.98713,221010.673198,46650.732838,NaN,83787.242188,108944.977945,79858.90342,1859210.400464
7,2017,45255.410385,1029458.854195,217522.342579,354.04303,NaN,784.735991,814013.72961,139.64454,94933.345368,117243.809665,NaN,30625.561844,370530.536836,328084.631454,3048946.645497
8,2016,504329.335133,79045.472882,34591.372498,NaN,2870.825652,794.521453,213972.810825,142.253915,77794.335206,18372.919966,NaN,35589.955679,227122.66331,19066.081021,1213692.54754
9,2015,413477.375791,231409.922853,65531.124651,295.638263,3432.555231,562.895106,526643.081097,73.369216,38314.090128,457058.495323,NaN,5394.511517,1461961.507993,147642.977597,3351797.544766
10,2014,27978.410036,324523.11821,34985.444365,126.669695,24298.615268,584.670019,2845389.541255,2809.882917,11945.794407,212384.325611,NaN,53780.378261,312574.484265,3213.654266,3854594.988575
11,2013,19834.737328,16057.152125,1034884.680588,NaN,90387.129153,311.873211,460949.02597,132.951709,40040.554411,61118.542553,NaN,1590119.247509,342257.400586,171508.670316,3827601.965459
12,2012,335219.367135,83788.655297,172927.462409,NaN,192987.383937,NaN,194449.604051,9.141471,109067.048846,197265.636852,NaN,77713.982377,220625.055042,53725.270318,1637778.607735
13,2011,735071.009163,11525.074658,108047.198824,NaN,1062.13141,NaN,211962.044318,455.567752,457587.244861,71532.420047,NaN,22111.36734,277427.48656,33383.802902,1930165.347835
14,2010,72394.320569,284436.145198,138951.505467,12.443133,958.465283,NaN,253764.276884,8719.51438,13453.387926,6730.88589,NaN,378181.004415,1534769.925,133252.919314,2825624.793459
15,2009,61494.320797,209124.928559,2958.308812,NaN,39255.798607,642.260212,1498.121958,25.293562,17457.098481,26093.996012,NaN,169563.839571,32131.71087,210635.786067,770881.463508
16,2008,18973.331521,11908.636799,137126.490649,6.468995,577.855004,1741.965328,311715.720394,4361.379029,1143.674503,10792.661332,NaN,3452.480378,882562.091576,10988.739995,1395351.495503
17,2007,100523.74719,23449.057001,292379.636378,5.580369,13720.813646,13.922938,307080.637931,16.137806,31665.426786,167849.887089,NaN,410944.788877,167294.254197,34191.617236,1549135.507444
18,2006,156753.684982,114595.363936,136851.118251,NaN,2456.087438,21.281898,43531.474238,377.864712,119293.263302,23580.869839,NaN,131791.634759,1052356.547534,89986.032634,1871595.223523
19,2005,55468.085707,25372.631093,64608.542985,438.000897,20149.340053,8.601628,178056.020591,NaN,47682.957393,34332.496376,NaN,839589.639676,188675.512779,167464.844062,1621846.67324
20,2004,229244.854176,178311.814665,21081.963688,2.346987,892.820243,12.422608,385825.202795,363.789495,1486.466301,141327.260274,NaN,4605.218596,269564.67056,1617369.650528,2850088.480916
21,2003,69080.617282,218532.202899,733308.971149,NaN,30800.856622,501.43007,104831.50818,964.921207,293296.587429,116392.370209,NaN,88259.141382,91359.886079,49301.556084,1796630.048592
22,2002,511800.204294,4907.23463,80301.319859,5.956012,12936.93707,NaN,40136.042226,NaN,170617.089623,9157.746707,NaN,1178723.786062,650199.104527,34374.87399,2693160.295
23,2001,170650.275386,6248.714657,96441.654915,7.813889,565.019706,158.786199,89604.907001,NaN,11101.618077,16422.787182,NaN,30018.59708,122646.549752,17804.779195,561671.503039
24,2000,16838.13525,6110.903549,123576.587237,NaN,105527.938988,146.821006,156727.51599,903.831583,15810.999369,9205.625855,NaN,60581.841345,118690.554295,8221.712532,622342.466999
25,1999,107576.71089,13437.117384,244244.220224,41.842428,34669.186836,719.954651,439172.659298,37.756642,276191.68849,68935.09435,NaN,131998.416901,152193.088633,170680.983036,1639898.719763
26,1998,646465.136528,69670.351216,446039.240652,NaN,23446.069205,55.81983,1264849.212699,NaN,190497.96433,25827.631558,NaN,375456.315645,804236.257737,303171.671258,4149715.670658
27,1997,21701.722652,1899.297823,73426.581952,NaN,2605.800573,41.86749,79478.896916,NaN,34720.35005,348.074541,NaN,508642.34266,1775.238209,10316.083523,734956.256389
28,1996,1116.466002,14687.577936,208859.246284,1400.021906,90789.754227,NaN,275135.033517,NaN,380504.102347,13044.796522,NaN,690676.740758,13882.203487,81047.423966,1771143.366952
29,1995,335402.079924,40844.57548,834482.155368,28.430278,1171.704925,NaN,2044483.914872,NaN,548834.290386,6419.128592,NaN,673201.759774,1109191.018831,290823.264396,5884882.322826
30,1994,26856.02351,21644.578059,1222162.523675,NaN,83078.57862,1.676738,2321449.104818,NaN,74398.459245,62138.113316,NaN,94352.885575,780725.225812,387067.861307,5073875.030675
31,1993,23390.510565,4303.030382,71718.566222,198.401018,20669.146849,NaN,808131.347696,NaN,57218.338808,2051.506839,NaN,124511.274365,731274.105506,104400.493282,1947866.721532
32,1992,1356.824764,23164.243413,498023.055453,2632.152145,13609.720929,470.731018,33674.31914,NaN,126916.72801,1340.321448,NaN,24924.259066,113561.51096,24378.139511,864052.005857
33,1991,3719.595194,26383.33221,298250.127185,2657.447038,42177.764342,764.439297,175691.905524,NaN,245051.609446,3521.077904,NaN,465427.760443,161907.548203,104738.363427,1530290.970213
34,1990,26160.711853,54727.323821,61442.256502,4980.804552,25959.893451,558.25163,93792.940681,NaN,146470.190347,26164.495831,NaN,92687.405951,174824.382616,150980.123552,858748.780787
35,1989,3867.058894,19510.007098,3162999.241317,6.207414,43695.354604,NaN,468599.707205,NaN,387151.996601,1341.491278,NaN,1898256.580739,370186.650127,308091.260637,6663705.555914
36,1988,10231.206648,6540.431522,398484.915349,1511.01028,1327.646406,5.773897,65983.696172,NaN,300201.096365,669.649358,NaN,365596.79741,61064.651475,4828.671565,1216445.546447
37,1987,32125.286865,29638.666639,102998.190925,270.456954,13360.051344,37.371544,328780.812183,NaN,90022.942128,211.782612,NaN,41507.603864,168718.719335,77654.059013,885325.943406
38,1986,1271.08947,14980.209214,28511.824331,41471.851142,87549.876651,NaN,268355.96334,NaN,121952.44079,4477.871682,NaN,156564.382325,5786.949597,88958.986391,819881.444933
39,1985,14852.448076,201323.830733,106482.927653,1741.498026,92321.300172,NaN,105806.534644,NaN,346.153001,2479.05595,NaN,91724.004616,83133.410588,11957.556458,712168.719917
40,1984,69554.846793,17756.034356,305494.562269,NaN,7777.550197,143.830977,29852.168784,NaN,93578.445043,25446.071862,NaN,2091.41891,309537.398009,18815.603558,880047.930758
41,1983,1962.61528,68128.123257,83598.835505,577.327185,12615.455574,NaN,223396.692455,NaN,338345.423657,5946.497919,NaN,978417.920431,49699.941274,43909.54376,1806598.376297
42,1982,678308.744904,310163.639221,100927.152919,4978.426699,2898.712493,NaN,237169.415182,NaN,8033.899065,9839.553756,NaN,39842.567969,68197.793406,220754.473122,1681114.378736
43,1981,1266708.165597,94482.056562,680610.909928,NaN,9074.169457,NaN,587627.612695,NaN,160107.844671,648889.739245,NaN,180403.656865,1504169.097981,11846.21759,5143919.470591
44,1980,628243.177892,63344.538271,500336.4934,1957.843694,692.297809,421.453827,1090954.606259,NaN,439773.010279,255439.000368,NaN,24366.827004,1697608.411576,133542.870525,4836680.530904
45,1979,162310.624187,24556.903712,213069.561917,NaN,648.804938,NaN,1594538.830225,NaN,53203.947385,62705.871931,NaN,3832.906502,407553.3681,3225.047597,2525645.866494
46,1978,5368.591403,44803.636505,19951.851528,NaN,NaN,NaN,61010.443554,NaN,11246.49564,0.009565,NaN,37433.974041,66955.70644,5459.626828,252230.335504
47,1977,8033.292046,3234.71081,244243.526733,NaN,5122.032186,NaN,281585.114037,NaN,269744.512458,58572.755915,NaN,47137.215448,100131.391379,170848.723493,1188653.274505
48,1976,17815.268421,45134.384821,331182.683449,NaN,221690.724755,10947.208535,620891.2901,NaN,346927.685955,2906.431086,NaN,589818.665759,66846.230914,50226.956499,2304387.530294
49,1975,3615.614541,21038.647336,20692.347567,NaN,85806.563045,NaN,526121.348298,NaN,7457.601174,146.777329,NaN,39527.945042,75872.297344,19098.598163,799377.739839
50,1974,17211.700968,15291.546762,145433.859682,NaN,55381.857292,NaN,23205.557551,NaN,449461.883876,320.836648,NaN,168670.926558,22767.407284,2792.387442,900537.964063
51,1973,7812.876272,33200.094821,445454.275364,NaN,7825.505178,NaN,803691.109367,NaN,2231.597316,1074.640569,NaN,185038.892701,331376.138629,3325.479178,1821030.609395
52,1972,47321.065414,21899.74118,44995.465627,NaN,15375.451021,NaN,178097.452644,NaN,24217.720055,13.021623,NaN,66984.05407,129109.964323,60604.949053,588618.88501

In [38]:
# starting point: NBCA_years = NBCA['NBAC_1972_2024_20250506'] (or whatever name)

# 1. Capture the description from the first few rows of the first column
years_description = (
    NBCA_years.iloc[0:3, 0]      # rows 0–2, first column
    .dropna()
    .astype(str)
    .str.strip()
    .str.join(" ")               # join into one sentence; use "\n".join(...) for line breaks
)

# 2. Drop the first 3 rows; row index 3 becomes the header row
years_clean = NBCA_years.iloc[3:].copy()

# set header from the first remaining row
years_clean.columns = years_clean.iloc[0]

# 3. Drop that header row from the data and reset index
years_clean = years_clean.iloc[1:].reset_index(drop=True)

# optional: attach description as metadata (like "alt text")
years_clean.attrs["description"] = years_description

# optional: make YEAR numeric
years_clean["YEAR"] = years_clean["YEAR"].astype(int)

In [41]:
years_clean

3,YEAR,NFIREID,BASRC,FIREMAPS,FIREMAPM,FIRECAUS,HS_SDATE,HS_EDATE,AG_SDATE,AG_EDATE,CAPDATE,POLY_HA,ADJ_HA,ADJ_FLAG,ADMIN_AREA,NATPARK,PRESCRIBED,VERSION,GID
0,2024,1,MAFiMS,Landsat,Processed imagery,Natural,2024-08-12 00:00:00,2024-09-02 00:00:00,2024-07-29 00:00:00,2024-10-04 00:00:00,2024-09-15 00:00:00,625.258308,625.258308,NaN,NT,NaN,NaN,20250506,2024_1
1,2024,2,MAFiMS,Sentinel-2,Processed imagery,Natural,2024-06-29 00:00:00,2024-08-12 00:00:00,2024-06-28 00:00:00,2024-10-04 00:00:00,2024-08-22 00:00:00,185.715925,185.715925,NaN,NT,NaN,NaN,20250506,2024_2
2,2024,3,MAFiMS,Sentinel-2,Processed imagery,Natural,2024-07-17 00:00:00,2024-07-24 00:00:00,2024-07-17 00:00:00,2024-10-04 00:00:00,2024-08-08 00:00:00,1188.87817,1188.87817,NaN,NT,NaN,NaN,20250506,2024_3
3,2024,4,MAFiMS,Landsat,Processed imagery,Natural,2024-07-17 00:00:00,2024-08-13 00:00:00,2024-07-17 00:00:00,2024-10-04 00:00:00,2024-08-30 00:00:00,3862.626905,3862.626905,NaN,NT,NaN,NaN,20250506,2024_4
4,2024,5,MAFiMS,Sentinel-2,Processed imagery,Natural,2024-07-28 00:00:00,2024-08-12 00:00:00,2024-07-31 00:00:00,2024-10-04 00:00:00,2024-08-17 00:00:00,26.552612,26.552612,NaN,NT,NaN,NaN,20250506,2024_5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50826,1972,330,MAFiMS,Landsat MSS,Processed imagery,Undetermined,NaN,NaN,NaN,NaN,1972-08-28 00:00:00,2803.592459,2803.592459,NaN,MB,NaN,NaN,20250506,1972_330
50827,1972,331,MAFiMS,Landsat MSS,Processed imagery,Undetermined,NaN,NaN,NaN,NaN,1973-08-23 00:00:00,267.826703,267.826703,NaN,QC,NaN,NaN,20250506,1972_331
50828,1972,332,MAFiMS,Landsat MSS,Processed imagery,Undetermined,NaN,NaN,NaN,NaN,1973-08-23 00:00:00,1395.369141,1395.369141,NaN,QC,NaN,NaN,20250506,1972_332
50829,1972,333,MAFiMS,Landsat MSS,Processed imagery,Undetermined,NaN,NaN,NaN,NaN,1972-07-31 00:00:00,671.96671,671.96671,NaN,QC,NaN,NaN,20250506,1972_333
50830,1972,334,MAFiMS,Landsat MSS,Processed imagery,Undetermined,NaN,NaN,NaN,NaN,1975-07-18 00:00:00,13482.291546,13482.291546,NaN,NL,NaN,NaN,20250506,1972_334